﻿@model ManejoIncidente.Web.Models.SlaVM

@{
    ViewBag.Title = "Eliminar";
}
<center>
    <h2>Eliminar Sla</h2>

    <h3>Esta de seguro de borrar este Sla?</h3>
</center>
<div>
    <hr />
    <div class="row" style="padding-left:250px">
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

        </div>
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CantidadHoras)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CantidadHoras)
                </dd>

            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SlaId)
        <div class="form-actions no-color">
            <center>
                @Html.ActionLink("Regresar", "Slas", null, new { @class = "btn btn-info" }) |
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </center>
        </div>
    }
</div>
