﻿@model ManejoIncidente.Web.Models.SlaVM

@{
    ViewBag.Title = "Insertar";
}
<Center>
    <h2>Insertar Sla</h2>
</Center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="row" style="padding-left:400px">
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CantidadHoras, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CantidadHoras, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.CantidadHoras, "", new { @class = "text-danger" })
                    </div>
                </div>

            </dl>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="padding-left:470px">
            @Html.ActionLink("Regresar", "Slas", null, new { @class = "btn btn-info" }) |
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
}

