﻿@model IEnumerable<ManejoIncidente.Web.Models.SlaVM>

@{
    ViewBag.Title = "Slas";
}

<h2>Slas</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Insertar", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadHoras)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHoras)
            </td>
            <td>
                @Html.ActionLink("Editar", "Actualizar", new { id = item.SlaId }, new { @class = "btn btn-warning" }) |
                @*@Html.ActionLink("Detalles", "Detalles", new { id = item.DepartamentoId }, new { @class = "btn btn-info" }) |*@
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.SlaId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
