﻿@model ManejoIncidente.Web.Models.LoginModel

@{ 
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

 }
<center>
<h2>Login</h2>
    <hr />
    @if (ViewData["ERROR"] != null)
    {        
        <div class="alert alert-danger">
            @ViewData["ERROR"]
        </div>
    }
<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="card">
            
            <div class="card-body">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario)
                        @Html.TextBoxFor(model => model.Usuario, "", new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Contraseña:")
                        @Html.TextBoxFor(model => model.Clave, "", new { @class = "form-control", type = "Password" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                 }
            </div>
        </div>
    </div>
</div>
</center>