﻿@model ManejoIncidente.Web.Models.IncidenteVM

@{
    ViewBag.Title = "Asignar";
}
<center>
    <h2>Asignar Incidente</h2>
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="row" style="padding-left:250px">
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IncidenteId)

                <div class="form-group">
                    @Html.LabelFor(model => model.UsuarioAsignadoId, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @{
                            if (Model.Usuarios != null)
                            {
                                @Html.DropDownListFor(model => model.UsuarioAsignadoId, Model.Usuarios.Select(s => new SelectListItem { Value = s.UsuarioId.ToString(), Text = s.Nombre.ToString() }), new { htmlAttributes = new { @class = "form-control" } })
                            }
                        }
                        @Html.ValidationMessageFor(model => model.UsuarioAsignadoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
            </dl>
        </div>
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Comentario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ComentarioCierre, new { htmlAttributes = new { @class = "form-control", required = "required"} })
                    </div>
                </div>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="padding-left:480px">
            @Html.ActionLink("Regresar", "InidentesPendientes", null, new { @class = "btn btn-info" }) |
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
}
