﻿@model ManejoIncidente.Web.Models.IncidenteVM

@{
    ViewBag.Title = "Cambiar";
}
@{
    //var estadosRabrir = new List<SelectListItem>
    //{
    //    new SelectListItem {Text="Asignado", Value ="AS"},
    //    new SelectListItem {Text="Progreso", Value ="PR"},
    //    new SelectListItem {Text="Rechazado", Value ="RE"}

    //};
    var estados = new List<SelectListItem>
{
        new SelectListItem {Text="Asignado", Value ="AS"},
        new SelectListItem {Text="Progreso", Value ="PR"},
        new SelectListItem {Text="Rechazado", Value ="RE"}

    };
}
<center>
    <h2>Cambiar Estado</h2>
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="row" style="padding-left:250px">
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IncidenteId)



                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </dl>
        </div>
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                <div class="form-group">
                    @Html.Label("Comentario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ComentarioCierre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.ComentarioCierre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Estatus, estados, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </dl>
        </div>
        <div class="form-group">
            <div class="row" style="padding-left:280px">
                @Html.ActionLink("Regresar", "Propios", null, new { @class = "btn btn-info" }) |
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
        }
