﻿@model ManejoIncidente.Web.Models.IncidenteVM

@{
    ViewBag.Title = "Detalles";
}
<center>
    <h2>Detalles</h2>
</center>
<div class="row" style="padding-left:250px">
    <hr />
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.PrioridadId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrioridadI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </dt>


            <dd>
                @Html.DisplayFor(model => model.DepartamentoI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>
        </dl>
    </div>
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estatus)
            </dd>
            <dt>
                @Html.DisplayName("Comentario")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ComentarioCierre)
            </dd>
        </dl>
    </div>
</div>
<center>
    <p>
        @Html.ActionLink("Regresar", "Incidentes", null, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Editar", "Actualizar", new { id = Model.IncidenteId }, new { @class = "btn btn-warning" })
    </p>
</center>
