﻿@model ManejoIncidente.Web.Models.IncidenteVM

@{
    ViewBag.Title = "Eliminar";
}
<center>
    <h2>Eliminar Incidente</h2>

    <h3>Esta seguro de eliminar este incidente?</h3>
</center>
<div class="row" style="padding-left:250px">
    <hr />
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.PrioridadId)
            </dt>


            <dd>
                @Html.DisplayFor(model => model.PrioridadI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </dt>



            <dd>
                @Html.DisplayFor(model => model.DepartamentoI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>
        </dl>
    </div>
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estatus)
            </dd>

            <dt>
                @Html.DisplayName("Comentario")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ComentarioCierre)
            </dd>
        </dl>
    </div>
</div>
<div class="form-group col-md-10" style="padding-left:400px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IncidenteId)
        <div class="row form-actions no-color">
            <center>
                @Html.ActionLink("Regresar", "Incidentes", null, new { @class = "btn btn-info" }) |
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </center>
        </div>
    }
</div>
