﻿@model IEnumerable<ManejoIncidente.Web.Models.IncidenteVM>

@{
    ViewBag.Title = "Incidentes";
}

<h2>Incidentes</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Registrar", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>

                @Html.ActionLink("Editar", "Actualizar", new { id = item.IncidenteId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.IncidenteId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IncidenteId }, new { @class = "btn btn-danger" })
       
        </tr>
    }

</table>
