﻿@model IEnumerable<ManejoIncidente.Web.Models.IncidenteVM>

@{
    ViewBag.Title = "Incidentes";
}

<h2>Incidentes No Asignados</h2>

<br />
<table class="table">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>

                @Html.ActionLink("Asignar", "Asignar", new { id = item.IncidenteId }, new { @class = "btn btn-success" })

        </tr>
    }

</table>
