﻿@model IEnumerable<ManejoIncidente.Web.Models.IncidenteVM>

@{
    ViewBag.Title = "Propios";
}

<h2>Mis Incidentes</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>


                @{
                    if (!item.Estatus.Equals("Cerrado"))
                    {
                        @Html.ActionLink("Cambiar Estado", "Cambiar", new { id = item.IncidenteId }, new { @class = "btn btn-success" });
                        <span>|</span>
                        @Html.ActionLink("Cerrar", "Cerrar", new { id = item.IncidenteId }, new { @class = "btn btn-danger" });
                     }
                }

        </tr>

}

</table>
