﻿@model IEnumerable<ManejoIncidente.Web.Models.IncidenteVM>

@{
    ViewBag.Title = "Solicutudes";
}

<h2>Solicutudes</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayName("Asignado")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrioridadId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayName("Fecha Cierre")
            </th>
            <th>
                @Html.DisplayName("Comentario")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrioridadI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @{
                    if (item.FechaCierre.DateTime.Equals(DateTime.Parse("1/1/0001")))
                    {
                        @Html.Display("N/D")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FechaCierre.DateTime)
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
        </tr>
    }

</table>
