﻿@model ManejoIncidente.Web.Models.PuestoVM

@{
    ViewBag.Title = "Actualizar";
}
<center>
    <h2>Actualizar Puesto</h2>
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>PuestoVM</h4>*@
        <hr />
        <div class="row" style="padding-left:400px">
            <div class="col-md-6 col-lg-6">
                <dl class="dl-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.PuestoId)



                    <div class="form-group">
                        @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @{
                                if (Model.Departamentos != null)
                                {
                                    @Html.DropDownListFor(model => model.DepartamentoId, Model.Departamentos.Select(s => new SelectListItem { Value = s.DepartamentoId.ToString(), Text = s.Nombre.ToString() }), new { htmlAttributes = new { @class = "form-control" } })
                                }
                            }
                            @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </dl>
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="padding-left:480px">
                @Html.ActionLink("Regresar", "Puestos", null, new { @class = "btn btn-info" }) |
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

