﻿@model ManejoIncidente.Web.Models.PuestoVM

@{
    ViewBag.Title = "Eliminar";
}

<center>
    <h2>Borrar Puesto</h2>

    <h3>Esta seguro de borrar este puesto?</h3>
</center>
<div class="row" style="padding-left:250px">
    <hr />
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Departamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Departamento)
            </dd>
        </dl>

    </div>
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

        </dl>
    </div>
</div>
<div class="form-group col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PuestoId)
        <div class="form-actions no-color">
            <center>
                @Html.ActionLink("Regresar", "Puestos", null, new { @class = "btn btn-info" }) |
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </center>
        </div>
    }
</div>
