﻿@model IEnumerable<ManejoIncidente.Web.Models.PuestoVM>

@{
    ViewBag.Title = "Puestos";
}

<h2>Puestos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Insertar", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Actualizar", new { id = item.PuestoId }, new { @class = "btn btn-warning" }) |
                @*@Html.ActionLink("Detalles", "Detalles", new { id = item.DepartamentoId }, new { @class = "btn btn-info" }) |*@
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.PuestoId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
