﻿@model ManejoIncidente.Web.Models.DepartamentoVM

@{
    ViewBag.Title = "Eliminar";
}
<center>
    <h2>Borrar Departamento</h2>

    <h3>Esta seguro de borrar este departamento?</h3>
</center>
<div>
    <hr />
    <div class="row" style="padding-left:400px">
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">


                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.DepartamentoId)

        <div class="form-group">
            <div class="row" style="padding-left:480px">
                <div class="form-actions no-color">
                    @Html.ActionLink("Regresar", "Departamentos", null, new { @class = "btn btn-info" }) |
                    <input type="submit" value="Borrar" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
</div>
