﻿@model ManejoIncidente.Web.Models.PrioridadVM

@{
    ViewBag.Title = "Actualizar";
}
<center>
    <h2>Actualizar Prioridad</h2>
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="row" style="padding-left:400px">
        <div class="col-md-6 col-lg-6">
            <dl class="dl-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PrioridadId)

                <div class="form-group">
                    @Html.LabelFor(model => model.SlaId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{
                            if (Model.Slas != null)
                            {
                                @Html.DropDownListFor(model => model.SlaId, Model.Slas.Select(s => new SelectListItem { Value = s.SlaId.ToString(), Text = s.Descripcion.ToString() }), new { htmlAttributes = new { @class = "form-control" } })
                            }
                        }
                        @Html.ValidationMessageFor(model => model.SlaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="padding-left:190px">
            <center>
                @Html.ActionLink("Regresar", "Prioridades", null, new { @class = "btn btn-info" }) |
                <input type="submit" value="Guardar" class="btn btn-success" />
            </center>
        </div>
    </div>
}
