﻿@model ManejoIncidente.Web.Models.PrioridadVM

@{
    ViewBag.Title = "Eliminar";
}
<center>
    <h2>Eliminar Prioridad</h2>

    <h3>Esta seguro de eliminar esta Prioridad?</h3>

</center>
<div class="row" style="padding-left:250px">
    <hr />
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    </div>
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Sla)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sla)
            </dd>
        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PrioridadId)
    <div class="form-actions no-color">
        <center>
            @Html.ActionLink("Regresar", "Prioridades", null, new { @class = "btn btn-info" }) |
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </center>
    </div>
}
    </div>
