﻿@model IEnumerable<ManejoIncidente.Web.Models.PrioridadVM>

@{
    ViewBag.Title = "Prioridades";
}

<h2>Prioridades</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Insertar", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sla)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sla)
        </td>
        <td>
            @Html.ActionLink("Editar", "Actualizar", new { id = item.PrioridadId }, new { @class = "btn btn-warning" }) |
            @*@Html.ActionLink("Detalles", "Detalles", new { id = item.DepartamentoId }, new { @class = "btn btn-info" }) |*@
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.PrioridadId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
