﻿@model ManejoIncidente.Web.Models.UsuarioVM

@{
    ViewBag.Title = "EliminarUsuario";
}
<center>
    <h2>Eliminar Usuario</h2>

    <h3>Seguro que quiere borrar este usuario?</h3>
</center>
<div class="row" style="padding-left:250px">
    <hr />
    <div class="col-md-6 col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Puesto")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Puestos[0].Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>
        </dl>

    </div>
    <div class="col-md-6 col-lg-6">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Correo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Correo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreUsuario)
            </dd>


        </dl>
    </div>


</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UsuarioId)
    <div class="form-actions no-color">
        <center>
            @Html.ActionLink("Regresar", "Usuarios", null, new { @class = "btn btn-info" }) |
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </center>
    </div>
}
