﻿@model IEnumerable<ManejoIncidente.Web.Models.UsuarioVM>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "InsertarUsuario", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>

            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>

            <td>
                @Html.ActionLink("Editar", "ActualizarUsuario", new { id = item.UsuarioId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "DetallesUsuario", new { id = item.UsuarioId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "EliminarUsuario", new { id = item.UsuarioId }, new { @class = "btn btn-danger" })

            </td>
        </tr>
    }

</table>
